<div class="hero-unit">
	<h1>Welcome to OhMyTheSky!</h1>
	<p>
		Sky Formations of the End of The World <%= link_to "OhMyTheSky!", "http://OhMyTheSky.com" %>

	</p>

	<p>
		<%= link_to "Submit a Photo!", "#", class:"btn btn-success btn-large" %>
	</p>
</div>


